<!-- home_banner_two_blocks snippet -->
<section id="home_banner_two_block">
  <div class="row">
    <div class="col-md-6 home_banner_left" style="background-image: url(https://cdn.shopify.com/s/files/1/0557/1949/3785/files/UVU_MAIN_PAGE_TEST2_1500-1200_1148x.progressive.jpg?v=1634561508)"></div>
    <div class="col-md-6 home_banner_right" style="background-image:url(https://cdn.shopify.com/s/files/1/0557/1949/3785/files/UVU_MAIN_PAGE_TEST_1500-1200_1148x.progressive.jpg?v=1634561472)"></div>
  </div>
</section>
<!-- home_banner_two_blocks snippet -->