<div class="popup-cart py-25 px-20 js-popup-cart-ajax" data-popup-content>
          <i class="popup-cart__close ml-auto cursor-pointer" data-js-popup-close><img src="https://cdn.shopify.com/s/files/1/0557/1949/3785/files/popclose.svg?v=1621853249" class="popup-icon-close"></i>

    <div class="popup-cart__head d-flex align-items-center">
        <h5 class="m-0">YOUR BAG  </h5> 
        <p class="cart-count"><span data-js-popup-cart-count></span> items</p>
  </div>
  
    
    <div class="popup-cart__content d-none-important">
        <div class="popup-cart__items mt-15 mb-15"></div>
        <div class="popup-cart__discounts d-none" data-js-popup-cart-discounts></div>
        <div class="popup-cart__subtotal h5 d-flex align-items-center mt-10 mb-0">
            <p class="m-0 total_heading">SUB TOTAL</p>
            <span class="ml-auto">
                <span class="price" data-js-popup-cart-subtotal></span>
            </span>
        </div>
        {%- if settings.cart_show_free_shipping -%} 
            <div class="popup-cart__free-shipping my-20">
                {% render 'free-shipping' %}
            </div>
        {%- endif -%} 
        <div class="popup-cart__buttons mt-20">
          <a href="{{ routes.root_url }}{% if routes.root_url != '/' %}/{% endif %}checkout" class="btn btn--full btn--secondary">CHECKOUT NOW</a>
            <a href="{{ routes.cart_url }}" class="btn btn--full view_cart_btn mt-10">VIEW CART</a>
          <p>All shipping and taxes are calculated at checkout.</p>
        </div>
    </div>
    <div class="popup-cart__empty mt-20 d-none-important">{{ 'general.popups.cart.empty' | t }}</div>
</div>


 <script>  $(document).ready(function(){    $("input[name='updates[]']").on('input', function() {      $( "input[name='update']" ).trigger( "click" );    });  });</script>
