<section data-particle_enable="false" data-particle-mobile-disabled="false" class="elementor-section elementor-inner-section elementor-element elementor-element-031a59b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="031a59b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-12ae24c" data-id="12ae24c" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-12856e6 elementor-widget elementor-widget-accordion" data-id="12856e6" data-element_type="widget" data-widget_type="accordion.default">
				<div class="elementor-widget-container">
					<div class="elementor-accordion" role="tablist">
							<div class="elementor-accordion-item">
					<div id="elementor-tab-title-1941" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-1941" aria-expanded="false" tabindex="-1" aria-selected="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-chevron-down"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-chevron-up"></i></span>
														</span>
												<a class="elementor-accordion-title" href="">Description</a>
					</div>
					<div id="elementor-tab-content-1941" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1941" style="display: none;" hidden="hidden"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p></div>
				</div>
							<div class="elementor-accordion-item">
					<div id="elementor-tab-title-1942" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-1942" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-chevron-down"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-chevron-up"></i></span>
														</span>
												<a class="elementor-accordion-title" href="">Size &amp; Fit</a>
					</div>
					<div id="elementor-tab-content-1942" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1942">Born to Run singlet, engineered for race day. Perforated mesh fabric naturally.
stretches in every direction following the body’s movements.<br><br>

– 100% Polyester<br>
– Detachable Exterior branding and care label <br>
– Run Punk Run print on front</div>
				</div>
							<div class="elementor-accordion-item">
					<div id="elementor-tab-title-1943" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-1943" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-chevron-down"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-chevron-up"></i></span>
														</span>
												<a class="elementor-accordion-title" href="">Shipping &amp; Returns</a>
					</div>
					<div id="elementor-tab-content-1943" class="elementor-tab-content elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1943">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</div>
				</div>
								</div>
				</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>