
<div class="accordion_div">
{% for block in section.blocks %}

 <div class="accordion" id={{ forloop.index }}>
   <div class="elementor-tab-title">
   <a class="elementor-accordion-title" href="#!">{{block.settings.question}}</a><span></span>
   </div>
  </div>
 <div class="container">
 <div class="content">
 <div>{{block.settings.answer}}</div>
 </div>
 </div>

{% endfor %}
</div>
 
<div class="info-cover-img">
     <img class="img-fluid" src="{{ section.settings.cover_image | img_url: 'master' }}" alt="info cover img">
</div>

  
{% schema %}
{
 "name": "information",
 "settings": [
{
"type": "image_picker",
"id": "cover_image",
"label": "Cover Image"
}
 ],
 "blocks": [
 {
 "type": "slide",
 "name": "Question",
 "settings": [
 {
 "type": "text",
 "id": "question",
 "label": "Question — text"
 },
 {
 "type": "html",
 "id": "answer",
 "label": "Answer — html"
 }
]
 }
 ],
"presets": [
        {
            "name": "info",
            "category": "3) Static content"
        }
    ]
}
{% endschema %}




